/* تنسيق الصفحة */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* تنسيق الهيدر */
header {
    background-color: #6a696a;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}

h1 {
    font-size: 2rem;
}

/* تنسيق محتوى الصفحة */
main {
    padding: 2rem;
}

.book-detail {
    max-width: 900px;
    margin: 3rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-detail img {
    max-width: 60%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 8px;
}

.book-detail h3 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1rem;
}

.book-detail p {
    font-size: 1.2rem;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* تنسيق زر العودة إلى المكتبة */
.book-detail .btn {
    background-color: #242224;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.book-detail .btn:hover {
    background-color: #212121;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #6a696a;
    color: white;
    margin-top: 2rem;
    a {
        text-align: right;
        color: #327f97; /* لون الرابط */
        text-decoration: none; /* إزالة التسطير */
    }
    
    a:hover {
        color: #ffffff; /* تغيير اللون عند المرور عليه */
    }
    
}
